/* You can add global styles to this file, and also import other style files */
.row {
    background-color: lightblue;
    margin-bottom: 5px;
}
[class^=col-] {
    background-color: lightgreen;
    background-clip: content-box;
    margin-bottom: 5px;
}